@charset "UTF-8";

/*reset*/

body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, code, tr, th, td, hr, menu {
    margin: 0;
    padding: 0
}
ol, ul {
    list-style-type: none
}

/*::-webkit-scrollbar { width: 8px; background:#eee; border-radius: 4px;  }
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb { border-radius: 4px; }
::-webkit-scrollbar-thumb { min-height: 20px; background-clip: content-box; box-shadow: 0 0 0 5px #e0e0e0 inset; }
::-webkit-scrollbar-corner { background: transparent; }*/

.wrap {
    font-family: "Arial", "PingFang SC", "Microsoft Yahei", "SimSun", sans-serif;
    padding: 10px;
    width: 362px;
    margin: 0 auto;
}
#keyword, #url, #result {
    font-family: "Arial", "PingFang SC", "Microsoft Yahei", "SimSun", sans-serif;
    font-size: 12px;
    vertical-align: top;
    border: 1px solid #CCCCCC;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    width: 270px;
    color: #333;
}
#result {
    font-family: "Lucida Sans Typewriter", 'monaco', "PingFang SC", "Microsoft Yahei", monospace;
}
#keyword:focus, #url:focus, #result:focus {
    outline: none;
    border-color: #75aeff
}
#result {
    resize: none;
    width: 340px;
    height: 300px;
    line-height: 20px;
    word-break: break-all;
}
#result::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
#result::-webkit-scrollbar-track {
    background-color: #eeeeee;
    border-radius: 4px;
}
#result::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #d3d3d3;
}
#isChannel {
    vertical-align: -2px;
}
.btn-part {
    width: 375px;
    overflow: hidden;
    margin-bottom: 15px;
}
.btn-part a {
    vertical-align: top;
    text-align: center;
    display: block;
    float: left;
    box-sizing: content-box;
    cursor: pointer;
    height: 28px;
    line-height: 28px;
    width: 175px;
    margin-right: 8px;
    font-size: 14px;
    color: #666666;
    background: #FBFBFB;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-linear-gradient(top, white, #f8f8f8);
    background: -moz-linear-gradient(top, white, #f8f8f8);
    background: linear-gradient(to bottom, white, #f8f8f8);
}
.btn-part a:hover {
    color: #666666;
    background: #F5F5F5;
    text-decoration: none;
    background: -webkit-linear-gradient(top, whitesmoke, whitesmoke);
    background: -moz-linear-gradient(top, whitesmoke, whitesmoke);
    background: linear-gradient(to bottom, whitesmoke, whitesmoke);
}
dl {
    font-family: "Arial", "PingFang SC", "Microsoft Yahei", "SimSun", sans-serif;
    font-size: 12px;
    color: #666;
    overflow: hidden;
    margin-bottom: 10px;
}
dt, dd {
    float: left;
    min-height: 1px;
}
dt {
    width: 60px;
    margin-right: 10px;
    line-height: 30px;
    text-align: right;
}
dd {
    width: 292px;
}
